/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== BASE ===============*/
*{
    box-sizing: border-box; /* Manejar los contenedores de la maquetación */
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth; /* Agrega animación ligera al realizar un Scroll */
}

body, input, button{
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {

    width: .6rem;
    background-color: hsl(152, 4%, 53%);
  
}

::-webkit-scrollbar-thumb {

background-color: hsl(152, 4%, 29%);
border-radius: .5rem;
  
}